<div class='userEditPage'>
  <div class="row">
    <div class="col-md-12 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
            <h2 class="text-center">アカウントを編集</h2>
            <div class='container'>
              <%= form_for current_user, url: registration_path(current_user) do |f| %>
                <%= devise_error_messages! %>
                <div class="form-group">
                  <%= f.label '名前' %>
                  <%= f.text_field :name, class: "form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label '自己紹介' %>
                  <%= f.text_area :self_introduction, class: "form-control" %>
                </div>
                <div class="form-group">
                  性別:
                  <%= f.label 'オス' %>
                  <%= f.radio_button :sex, :オス %>
                  <%= f.label 'メス' %>
                  <%= f.radio_button :sex, :メス %>
                </div>
                <div class="form-group">
                  画像:
                  <%= f.file_field :img_name %>
                </div>

                <div class="form-group">
                  <%= f.label '更新するにはパスワードを入力してください' %>
                  <%= f.password_field :current_password, class: "form-control", autocomplete: "off" %>
                </div>
                <div class="text-center">
                  <%= f.submit '更新', class: "btn submitBtn" %>
                </div>

              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

