<div class='container usershowPage'>
  <div class="row">
    <div class="col-md-12 col-md-offset-4">
      <div class="panel panel-default">
        <p class='logo'>
          <%= link_to image_tag("cat_icon.png"), users_path %>
        </p>
        <div class="panel-body">
          <div class='container'>
            <div class='userInfo'>
              <div class='userInfo_img'>
                <%= image_tag @user.img_name.url(:thumb) %>
              </div>
              <div class='userInfo_name'><%= @user.name%></div>
              <div class='userInfo_selfIntroduction'><%= @user.self_introduction %></div>
            </div>
            <% if current_user.id == @user.id %>
              <div class='userAction'>
                <div class="userAction_edit userAction_common">
                  <%= link_to(content_tag(:i, "", class: 'fas fa-edit fa-2x'), edit_user_registration_path) %>
                  <span>情報を編集</span>
                </div>
                <div class='userAction_logout userAction_common'>
                  <%= link_to(content_tag(:i, "", class: 'fas fa-cog fa-2x'), destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' }) %>
                  <span>ログアウト</span>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
